body{
  font-family: "Roboto", sans-serif;
  background-color: #18191a;
  color: white;
  margin: auto;
  padding: auto;
}
.headerOffline{
  display: flex;
  justify-content: center;
}
*::-webkit-scrollbar{
  width: 12px;
}
*::-webkit-scrollbar-track{
  background: none;
}
*::-webkit-scrollbar-thumb{
  background-color: #3a3b3c;
  border-radius: 20px
}
.containerfull{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginIntContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulaireConnexion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulaireConnexion input{
  border-radius: 50px;
  padding: 15px;
  background-color: #3a3b3c;
  color: white;
  margin: 15px;
}
.loginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2d2d2e;
  padding: 15px;
  border-radius: 50px;
  width: 700px;
  height: 700px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 36%, rgba(0,212,255,1) 100%);
}
.registerContainer a {
  text-decoration: none;
  color: #B0B3B8;
}
.loginContainer a:hover{
  color: #fff;
  transition: 0.25s;
}
.logoMellianFriends img{
  border-radius: 50%;
}
.loginTitleH1{
  border-bottom: 5px solid green;
}

.registerIntContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.formulaireConnexion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulaireDedit{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formulaireConnexion input{
  display: table;
  border-radius: 50px;
  padding: 15px;
  background-color: #3a3b3c;
  color: white;
  margin: 15px;
  border: none;
}
.bouttonSoumettreDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulaireDedit button{
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 25px;
  background-color: rebeccapurple;
}
.formulaireDedit input{
  display: table;
  border-radius: 50px;
  padding: 15px;
  background-color: #3a3b3c;
  color: white;
  margin: 15px;
  border: none;
}
.registerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2d2d2e;
  padding: 15px;
  border-radius: 50px;
  width: 700px;
  height: 700px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 36%, rgba(0,212,255,1) 100%);
}

.loginContainer a {
  text-decoration: none;
  color: #B0B3B8;
  
}
.loginContainer a:hover{
  color: #fff;
  transition: 0.25s;
}
.logoMellianFriends img{
  border-radius: 50%;
}
.registerTitleH1{
  border-bottom: 5px solid green;
}
header{
  z-index: 600;
  background-color: #242526;
  top: 0px;
  position: sticky;
  width: 100%;
  border-bottom: 1px solid #B0B3B8;
}
.headerContainer{
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}
header ul {
  list-style: none;
  display: flex;
}
header img{
  border-radius: 50%;
}

.headerAccueil, .headerSettings{
  padding-right: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px;
  background-color: #3a3b3c;
}
.nameAndSurname{
  display: flex;
}
.emaileAndPassword{
  display: flex;
}
.buttonSubmit{
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  display: flex;
  cursor: pointer;
  padding: 5px;
  margin-top: 1rem;
  transition: 0.25s;
  border-radius: 50%;
}
label:hover{
  background-color: #B0B3B8;
  transition: 0.25s;
}
.buttonSubmit button{
  display: flex;
  align-items: center;
  background: rgb(0,189,255);
  background: linear-gradient(0deg, rgba(0,189,255,0.4766281512605042) 0%, rgba(0,255,16,1) 100%);
  border-radius: 25px;
  border: none;
  color: white;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  transition: 0.5s;
}
.buttonSubmit button:hover{
  background: rgb(0,189,255);
  background: linear-gradient(287deg, rgba(0,189,255,0.4766281512605042) 0%, rgba(0,255,16,1) 100%);
  transition: 0.5s;
  cursor: pointer;
  scale: 1.1;
}
.headerProfil{
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-left: 25px;
}
.headerProfil img{
  height: 44px;
  width: 44px;
}
.menuNavContainer{
  margin-right: 25px;
}
a:hover{
  opacity: 0.8;
  transition: 0.25s;
  scale: 0.98;
}
.rechercherNavContainer{
  display: flex;
  align-items: center;
}
.searchButton{
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 25px 0px 0px 25px;
  background-color: #3a3b3c;
  color: white;
  border: none;
  height: 45px;
}
.searchButton:hover{
  scale: 1.05;
}
.searchBarInput{
  background-color: #3a3b3c;
  border: none;
  height: 45px;
  width: 400px;
  border-radius: 0px 25px 25px 0px;
  color: white;
}
.searchBarInput::placeholder{
  color: white;
}
input:focus-visible{
  outline: none;
}

.cardCreatePostTitle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardCreatePostTitle img{
border-radius: 50%;
}
.cardCreatePostTitle textarea{
  margin-left: 10px;
  border-radius: 35px 35px 35px 35px;
  height: 40px;
  width: 400px;
  background: #3a3b3c;
  color: white;
  font-family: "Roboot", sans-serif;
  font-weight: bold;
  border: none;
  padding: 10px;
  resize: none;
}
.hourAndDate{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-small;
  color: #B0B3B8;
  margin-top: -10px;
}

.cardCreatePostContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #242526;
  border-radius: 0px 0px 25px 25px;
  padding: 15px;
  width: 550px;
}
.cardCreatePostBody{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.bouttonAccepter{
  display: flex;
  justify-content: center;
}
.bouttonAccepter button{
  cursor: pointer;
  margin-top: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: large;
  background: #cb324f;
  border: none;
  border-radius: 25px;
  padding: 15px;
  width: 150px;
  color: white;
}
.bouttonAccepter button:hover{
  opacity: 0.9;
  transition: 0.25s;
}
.cardFeedContainer{
  margin-top: 25px;
  border-radius: 25px;
  padding: 25px;
  width: 650px;
  background-color:#242526;
  display: flex;
  flex-direction: column;
}
.cardFeedTitleContainer{
  margin-top: -15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.cardFeedTitleContainer a{
  text-decoration: none;
  color: inherit;
}
.cardFeedTitleContainer a:hover{
  text-decoration: underline;
}
.cardFeedTitleProfil{
  display: flex;
  align-items: center;
}
.cardFeedTitleProfil p {
  margin-left: 15px;
  text-transform: capitalize;
}
.cardFeedTitleProfil img{
  border-radius: 25px;
}
.cardFeedOption{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cardFeedOption button{
  background: transparent;
  border: none;
  color: white;
  padding: 5px;
  transition: 0.25s;

}
.cardFeedOption button:hover{
  cursor: pointer;
  border-radius: 50%;
  background-color: #3a3b3c;
  transition: 0.25s;
}
.cardFeedContentContainer{
  display: flex;
  flex-direction: column;
}
.cardFeedContentContainer img{
  max-height: 500px;
  border-radius: 25px;
}
.contentImg{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}
.contentText{
  text-align: left;
}
.cardFeedBottomContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.reactFeedButton{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
.reactFeedButton button{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  color: white;
}
.reactFeedButton button:hover{
  text-decoration: underline;
  cursor: pointer;
  background-color: #3a3b3c;
  border-radius: 25px;
  transition: 0.25s;
}
.commentContainer{
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.commentContainer img{
  border-radius: 25px;
  margin-right: 5px;
}
.commentContainer input{
  background-color: #3a3b3c;
  border-radius: 25px;
  padding: 15px;
  color: White;
  border:none;
  width: 600px;
}
.commentContainer input::placeholder{
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;

}
.blockCommentContainer{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: #3a3b3c;
  padding: 15px;
  font-family: "Roboto", sans-serif;

}
.textCommentPostedProfil a{
  text-decoration: none;
  color: white;
}
.textCommentPostedProfil a:hover {
  text-decoration: underline;
}
.commentPostedProfil img{
  border-radius: 50%;
}
.commentPostedProfil{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.likeComments button{
  background: transparent;
  color: white;
  border: none;
}
.likeComments button:hover{
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}
.seeMoreComments button{
  background: transparent;
  color: white;
  border: none;
  font-family: "Roboto", sans-serif;
}
.seeMoreComments button:hover{
  font-weight: bolder;
  cursor: pointer;
  text-decoration: underline;
}
.profilBanner{
  display: flex;
  justify-content: center;
}
.profilContainer{
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #242526;
}
.profilHeaderContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilHeaderBanner img{
  object-fit:cover;
  width: 1222px;
  max-height: 500px;
  border-radius: 0px 0px 25px 25px;
}
.profilHeaderBannerContainer{
  position: absolute;
}

.buttonModifyBanner{
  display: flex;
  justify-content: flex-end;
  margin-top: -60px;
  margin-right: 35px;
}

.buttonModifyBanner button{
  z-index: 500;
  position: relative;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  align-self: flex-end;
  background: white;
  border: none;
  border-radius: 25px;
}

.profileInfoContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 450px;
}

.profileName{
  margin-left: 15px;
}

.buttonModifyBanner button:hover{
  cursor: pointer;
  opacity: 0.9;
}

.profilePictureContainer img{
  border: 5px solid #2d2d2e;
  border-radius: 50%;
  height: 168px;
}

.changeProfilePictureContainer{
  position: relative;
  right: -133px;
  top: -40px;
}
.changeProfilePictureContainer a{
  text-decoration: none;
  color: white;
}
.changeProfilePictureContainer a:hover{
  text-decoration: none;
}

.changeProfilePicture{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3a3b3c;
  padding: 5px;
  width: fit-content;
  border-radius: 50%;
}
.infoProfileContainer{
  text-align: center;
}
.buttonModifierProfil{
  margin-left: 15px;
}
.buttonModifierProfil a{
  text-decoration: none;
  background-color: #3a3b3c;
  color: white;
  font-size: large;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 25px
}
.buttonModifierProfil button:hover{
  cursor: pointer;
  opacity: 0.9;
  transition: 0.25s;
}
.boutonsMenu ul{
  display: flex;
  justify-content: center;
  list-style: none;
}
.listeMenuNavProfil{
  height: 63px;
  margin-top: -50px;
}
.listeMenuNavProfil a{
  max-height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #B0B3B8;
  font-weight: bold;
  text-transform: capitalize;
  margin: 35px;
  line-height: 26px;
  padding-bottom: 15Px;
}
.listeMenuNavProfil a:hover{
  transition: 0.25s;
  color: green;
  border-bottom: 5px solid green;
}
.listeMenuNavProfil a:active{
  transition: 0.25s;
  color: green;
  border-bottom: 5px solid green;
}

.feedContentContainer{
  display: flex;
  justify-content: center;
}
.feedContentContainer2{
  display: flex;
  flex-direction: column;
  margin-left: -150px;
}
.modifyBioButton{
  display: flex;
  justify-content: center;
}
.modifyBioButton button{
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  padding: 10px;
  width: 400px;
  background-color: #B0B3B8;
  border: none;
  border-radius: 25px;
  color: white;
}
.feedPosition{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.feedPosition2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}
.feedPostContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feedContentProfil{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1222px;
}
.rightbarContainer{
  right:0px;
  position: fixed;
  height: 1000px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.rightbarHeader h3{
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleRightBar h3{
  font-family: "Roboto", sans-serif;
  color: #B0B3B8;
}
.FriendsContainerList{
  position: fixed;
  right: 0px;
}
.rightbarHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}
.rightbarFriendsContainer img{
  border-radius: 50%;  
  margin-right: 20px;
}
.rightbarFriendsContainer a{
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #E4E6EB;
  text-decoration: none;
}
.creerConversationBoutton button{
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4b4c4f;
  border: none;
  border-radius: 50%;
  color: #e3e6ea;
  padding: 10px;
}
.creerConversationBoutton button:hover{
  opacity: 0.9;
  cursor: pointer;
}
.introBlockContainer{
  background-color: #242526;
  padding: 15px;
  border-radius: 25px;
  margin-right: 15px;
  width: 100%;
}
.infosComponent{
  margin-right: 15px;
  max-width: 441px;
}
.photosContainer{
  margin-top: 10px;
  background-color : #242526;
  border-radius: 25px;
  padding: 10px;
  max-height: 530px;
  max-width: 421px;
}
.photosCardTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.photosCardTitle a {
  text-decoration: none;
  color: #B0B3B8;
}
.photosCardTitle a:hover{
  color: rgb(255, 255, 255);
  transition: 0.25s;
}
.photosContainer img{
  object-fit: cover;
  margin: 1px;
  border-radius: 25px;
  padding: 2px;
}
.friendsContainer {
  margin-top: 15px;
  background-color: #242526;
  border-radius: 25px;
  max-height: 600px;
  overflow: hidden;
}
.friendsContainer img{
  border-radius: 25px;
}
.friendsCardTitle{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.titreEtNombre{
  display: flex;
  flex-direction: column;
}
.lienFriendsTitle{
  margin-top: 20px;
}
.lienFriendsTitle a{
  text-decoration: none;
  color: #B0B3B8;
}
.lienFriendsTitle a:hover{
  color: #fff;
  transition: 0.25s;
}
.friendsNumber{
  margin-top: -15px;
  color: #B0B3B8;
}
.friendsListProfile{
  width: 440px;
}
.friendsListContainer img{
  padding: 5px;
  object-fit: cover;
  margin: 5px;
}
.titreProfilAmi{
  font-weight: 100;
  font-size: x-small;
}
.friendsListContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 6px;
}
.friendsListContainer p {
  font-family: "Roboto", sans-serif;
  font-size: x-small;
  font-weight: bolder;
  margin-left: 10px;
  margin-top: -10px;
}
.navLogoContainer{
  width: 80px;
  height: 80px;
}
.formInputContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bouttonDeConnexion{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.bouttonDeConnexion button{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 25px;
  background: rgb(0,189,255);
  background: linear-gradient(137deg, rgba(0,189,255,0.4766281512605042) 0%, rgba(0,255,16,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.bouttonDeConnexion button:hover{
  background: rgb(0,189,255);
  background: linear-gradient(325deg, rgba(0,189,255,0.4766281512605042) 0%, rgba(0,255,16,1) 100%);
  cursor: pointer;
  scale: 1.1;
  transition: 0.5s;
}
.formConnexion{
  display: flex;
  flex-direction: column;
}
.pageNotFound{
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.leftBarContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
}
.copyrightText{
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: small;
  color: #4b4c4f;
  margin-left: 10px;
}
.copyrightText a{
  text-decoration: none;
  color: inherit;
  transition: 0.25s;
}
.copyrightText a:hover{
  color: red;
  scale: 0.99;
  transition: 0.25s;
}
.ProfilHeader{
  display: flex;
  justify-content: center;
}
.postLink{
  text-decoration: none;
  
}
.commentairesContainer{
  display: flex;
}
@media only screen and (max-width: 1500px){
  .rightbarContainer{
    display: none;
  }
  .introBlockContainer{
    display: none;
  }
  .friendsContainer{
    display: none;
  }
  .photosContainer{
    display: none;
  }
}
