@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: 'Roboto', sans-serif;  
}
.headerContainer{
  z-index: 999;
  top: 0;
  position:sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 25px;
  width: 100vw;
}
.loginContainer{
  padding: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 5px;
  background-color: #00000034;
}
.dark-mode-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}
.home-button{
  display: flex;
  gap: 20px;
}
.dark-mode-toggle:hover {
  opacity: 0.8;
}
.formulaireDeConnexion{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  max-width: 550px;
}
.formPost{
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.postFeedContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 10px
}
.postInterieur{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #00000034;
  padding: 10px;
  border-radius: 25px;
  max-width: fit-content;
}
.postInterieur img{
  max-width: 30vw;
  border-radius: 25px;
}
.postInterieur video{
  border-radius: 25px;
}
.postInterieurContainer{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.postDescription{
  display: flex;
  align-items: Center;
  justify-content: space-around;
}
.modalContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40vh;
}